.bracket {
  position: relative;
  width: 5px;
}
.bracket::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  width:100%;
}
.bracket.left::before {
  border-left: 2px solid black;
}
.bracket.right::before {
  border-right: 2px solid black;
}
.matrix {
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
  border-spacing: 0;
}
.highlight {
  background-color: paleturquoise;
}
table {
  font-size: small;
}
canvas {
  margin: 20px;
}
label.hough_u{
  color: red;
}
label.hough_v{
  color: blue;
}